/* ============= CONFIGURAÇÕES GERAIS ============= */
* {
    margin: 0px;
    padding: 0px;
    
    /* box-sizing: border-box; */
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: #fff;
    position: relative;
}

div.menu {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* ============= CONFIGURAÇÕES CABEÇALHO ============= */

.cabecalho {
    height: 75px;
    position: relative;
    background-color: rgba(68, 68, 68, 0.705);
}

.cabecalho img#logo {
    display: block;
    position: absolute;
    height: 100%;
    margin-left: 30px;
}

/*===================== ANIMAÇÃO DO BOTÃO MENU ======================*/

.hamburger{
    display: block;
    background-color: black;
    width: 25px;
    height: 2px;
    top: 24px;
    left: 12px;
    position: relative;
    transition: .8s;
}

.hamburger-before, .hamburger-after { 
    background-color: black;
    content: '';
    display: block ;
    width: 25px;
    height: 2px;
    position: absolute;
    transition: .8s;
} 

.hamburger-before {
    display: block;
    top: 13px;
    left: 12px;
}

.hamburger-after {
    display: block;
    bottom: 13px;
    left: 12px;
}

.transform-center {
    transform: rotate(45deg);
}

.transform-after {
    bottom: 24px;
    transform: rotate(129deg);
}

.transform-before {
    top: 24px;
    transform: rotate(-51deg);
}

/*===================== ANIMAÇÃO DO MENU DE NAVEGAÇÃO ======================*/

#navegacao {
    background-color: #75add7;
    width: 200px;
    height: 100%;
    transition: 1s;
}

#navegacao ul {
    text-align: center;
    list-style: none;
    padding: 20px;
}


#navegacao li {
    /* background-color: tomato; */
    margin: 5px;
    padding: 15px;
    color: white;
    font-size: 1.3em;
}

.esconder {
    position: absolute;
    transform: translateX(-200px);
}